<template>
  <Layout>
    <div class="mt-8 md:mt-16">
      <div class="flex flex-col lg:flex-row lg:justify-between mx-auto mb-8">
        <div
          class="max-w-sm lg:max-w-md md:min-w-sm mx-auto xl:mx-0 relative rounded-t-sm lg:rounded-none z-0"
        >
          <img
            :src="$page.product.product_image.photo"
            :alt="$page.product.product_image.alt_text"
            class="h-auto w-full"
            height="384"
            width="384"
            @mouseenter="toggleCard"
            @mouseleave="toggleNotes"
          >
          <transition
            name="height"
            @after-enter="toggleNotes"
          >
            <div
              v-if="toggleFirst"
              class="notes"
            >
              <transition
                name="opacity"
                @after-leave="toggleCard"
              >
                <ul
                  v-if="toggleSecond"
                  class="text-right uppercase"
                >
                  <li
                    v-for="note in $page.product.scent_notes.notes"
                    :key="note"
                    class="mb-2"
                  >
                    {{ note }}
                  </li>
                </ul>
              </transition>
            </div>
          </transition>
          <ProfileTag
            :scent-profile="$page.product.scent_profile"
          />
        </div>
        <div class="max-w-sm lg:max-w-md md:min-w-sm mx-auto xl:mx-0">
          <div class="lg:mb-16 lg:rounded-sm">
            <div class="lg:-mt-2 px-2 sm:px-4 md:px-8 py-4 lg:pt-0">
              <div class="flex items-baseline justify-between">
                <h1 :class="['font-medium', $page.product.name.length >= 20 ?'text-2xl' : 'text-3xl', 'text-gray-900']">
                  {{ $page.product.name }}
                </h1>
                <p class="text-gray-800 text-xl">
                  ${{ $page.product.price }}
                </p>
              </div>
              <span class="text-gray-600">{{ $page.product.size.name }}</span>
            </div>
            <div class="px-2 sm:px-4 md:px-8 py-4">
              <div class="flex justify-between">
                <div class="relative w-1/4">
                  <label
                    for="qty"
                    class="absolute bg-gray-100 ml-1 md:ml-2 px-2 text-lg text-gray-700 top-0"
                  >Qty</label>
                  <input
                    v-if="$page.product.status.id == '5484176a-e7b9-4b08-a293-ddd5860a6d78'"
                    id="qty"
                    v-model="qty"
                    type="number"
                    name=""
                    class="bg-gray-100 border border-yellow-400 focus:border-yellow-500 mt-4 px-2 md:px-4 py-2 rounded-sm text-gray-700 w-full"
                    min="1"
                  >
                  <input
                    v-else
                    id="qty"
                    v-model="qty"
                    type="number"
                    name=""
                    class="bg-gray-100 border border-yellow-400 focus:border-yellow-500 mt-4 px-4 sm:px-2 py-2 rounded-sm text-gray-800 w-full"
                    disabled
                  >
                </div>
                <button
                  v-if="productStatus == '5484176a-e7b9-4b08-a293-ddd5860a6d78'"
                  class="snipcart-add-item bg-teal-700 hover:bg-teal-800 font-medium ml-4 mt-4 px-4 py-2 rounded-sm text-gray-100 w-3/4"
                  :data-item-id="$page.product.id"
                  :data-item-name="$page.product.name"
                  :data-item-image="$page.product.product_image.photo"
                  :data-item-price="$page.product.price"
                  :data-item-quantity="qty"
                  :data-item-url="path"
                  :data-item-weight="$page.product.weight"
                >
                  <font-awesome-icon
                    icon="cart-plus"
                    class="-ml-4 mr-2"
                  />
                  Add to Cart
                </button>
                <div
                  v-if="productStatus == 'e0e6b865-a4b0-4d19-94f7-13fc9083efd9'"
                  class="bg-gray-500 cursor-not-allowed ml-4 mt-4 px-4 py-2 rounded-sm text-center text-gray-100 w-5/6"
                >
                  <font-awesome-icon
                    icon="exclamation"
                    class="-ml-4 mr-2"
                  />
                  Sold Out
                </div>
                <div
                  v-else-if="productStatus == 'b9a9682c-5480-49dc-82cc-4467a924748f'"
                  class="bg-gray-500 cursor-not-allowed ml-4 mt-4 px-4 py-2 rounded-sm text-center text-gray-100 w-5/6"
                >
                  <font-awesome-icon
                    icon="times"
                    class="-ml-4 mr-2"
                  />
                  Currently Unavailable
                </div>
              </div>
            </div>
          </div>
          <div class="rounded-b-sm lg:rounded-sm">
            <div
              class="px-2 sm:px-4 md:px-8 py-4 text-gray-800"
              v-html="$page.product.content"
            />
            <div class="px-2 sm:px-4 md:px-8 py-4">
              <ul class="text-gray-700">
                <li
                  v-for="(ingredient, index) in $page.product.ingredients"
                  :key="index"
                >
                  {{ ingredient }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="$page.product.related_products"
        class="max-w-xs lg:max-w-full mx-auto"
      >
        <h2 class="text-gray-800 text-xl">
          Pair <span class="font-medium">{{ $page.product.name }}</span> with...
        </h2>
        <div class="border-t border-yellow-400 w-full" />
        <ul class="flex flex-col lg:flex-row max-w-4xl mt-4 md:mt-6 -mx-4">
          <RelatedProduct
            v-for="_ in $page.product.related_products"
            :key="_.related_product.id"
            :related-product="_.related_product"
          />
        </ul>
      </div>
    </div>
    <StructuredProduct :product="$page.product" />
  </Layout>
</template>

<page-query>
query ($id: ID!) {
  product (id: $id) {
    id
    name
    category {
      slug
    }
    content
    ingredients
    price
    product_image {
      alt_text
      photo
    }
    related_products {
      related_product {
        id
        name
        category {
          slug
        }
        price
        product_image {
          alt_text
          photo
          placeholder
        }
        scent_profile {
          name
        }
        slug
        status {
          id
          name
        }
        weight
      }
    }
    scent_profile {
      name
    }
    scent_notes {
      notes
    }
    size {
      name
    }
    sku
    slug
    status {
      id
      name
    }
    weight
  }
}
</page-query>

<script>
import { mapGetters } from 'vuex'

import { nestedPath } from '@/utils'

import ProfileTag from '@/components/ProfileTag'
import RelatedProduct from '@/components/RelatedProduct'
import StructuredProduct from '@/components/StructuredProduct'

export default {
  components: {
    ProfileTag,
    RelatedProduct,
    StructuredProduct
  },
  data () {
    return {
      toggleFirst: false,
      toggleSecond: false,
      qty: 1
    }
  },
  computed: {
    ...mapGetters(['getProductInventory']),
    metaDescription: function () {
      const regex = /(<([^>]+)>)/ig
      return this.$page.product.content.replace(regex, '').substring(0, 147) + '...'
    },
    productStatus: function () {
      const inventory = this.getProductInventory(this.$page.product.id)
      if (inventory > -1) {
        if (inventory > 0) {
          return '5484176a-e7b9-4b08-a293-ddd5860a6d78'
        } else {
          return 'e0e6b865-a4b0-4d19-94f7-13fc9083efd9'
        }
      }
      return this.$page.product.status.id
    },
    path () {
      return nestedPath(this.$page.product)
    }
  },
  metaInfo () {
    return {
      meta: [
        {
          name: 'description',
          content: this.metaDescription
        },
        {
          property: 'og:title',
          content: this.$page.product.name
        },
        {
          property: 'og:type',
          content: 'website'
        },
        {
          property: 'og:image',
          content: this.$page.product.product_image.photo
        },
        {
          property: 'og:url',
          content: 'https://highmountainsage.com' + this.$route.path
        },
        {
          property: 'og:description',
          content: this.metaDescription
        },
        {
          property: 'og:siteName',
          content: 'High Mountain Sage'
        }
      ],
      title: this.$page.product.name
    }
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView(this.$page.product.name.toLowerCase(), this.$route.path)
      window.dataLayer.push({
        event: 'snipcartEvent',
        eventCategory: 'Impression',
        eventAction: 'Product Detail View',
        eventLabel: this.$page.product.name,
        ecommerce: {
          detail: {
            products: [{
              name: this.$page.product.name,
              id: this.$page.product.id,
              price: this.$page.product.price.toFixed(2)
            }]
          }
        }
      })
    }
  },
  methods: {
    toggleCard () {
      this.toggleFirst = !this.toggleFirst
    },
    toggleNotes () {
      this.toggleSecond = !this.toggleSecond
    }
  }
}
</script>

<style>
.notes {
  @apply absolute bg-gray-200 flex h-36 items-end justify-end left-0 px-2 rounded-b-sm text-gray-800 top-0 w-full z-10;
}

/* transitions */

.height-enter-active, .height-leave-active {
  transition: height 0.45s cubic-bezier(0.37, 0, 0.63, 1); /* easeInOutSine from https://easings.net */
}

.height-enter, .height-leave-to {
  @apply h-0;
}

.opacity-enter-active, .opacity-leave-active {
  transition: opacity 0.35s ease-in-out;
}

.opacity-enter, .opacity-leave-to {
  @apply opacity-0;
}
</style>
