<template>
  <Layout>
    <article>
      <div class="hero p-2 md:p-16">
        <h1 class="font-display text-4xl md:text-5xl text-center text-gray-800 uppercase">
          {{ $page.blog.title }}
        </h1>
      </div>
      <div class="max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mt-10 mx-auto">
        <div
          class="text-gray-800"
          v-html="$page.blog.content"
        />
        <p class="mt-6 text-gray-700">
          {{ $page.blog.author.name }}
        </p>
        <p
          v-if="$page.blog.updated_date !== $page.blog.publish_date"
          class="text-gray-700 text-sm"
        >
          <time :datetime="$page.blog.updated_iso">{{ $page.blog.updated_date }}</time>
        </p>
        <p
          v-else
          class="text-gray-700 text-sm"
        >
          <time :datetime="$page.blog.publish_iso">{{ $page.blog.publish_date }}</time>
        </p>
      </div>
    </article>
    <StructuredBlog :blog="$page.blog" />
  </Layout>
</template>

<page-query>
query ($path: String!) {
  blog (path: $path) {
    author {
      name
    }
    content
    excerpt
    path
    publish_date (format: "MM-DD-YYYY")
    publish_iso: publish_date (format: "YYYY-MM-DD")
    title
    updated_date (format: "MM-DD-YYYY")
    updated_iso: updated_date (format: "YYYY-MM-DD")
  }
}
</page-query>

<script>
import StructuredBlog from '@/components/StructuredBlog'

export default {
  components: {
    StructuredBlog
  },
  metaInfo () {
    return {
      meta: [
        {
          name: 'description',
          content: this.$page.blog.excerpt
        },
        {
          property: 'og:title',
          content: this.$page.blog.title
        },
        {
          property: 'og:type',
          content: 'article'
        },
        {
          property: 'og:url',
          content: 'https://highmountainsage.com' + this.$page.blog.path
        },
        {
          property: 'og:description',
          content: this.$page.blog.excerpt
        },
        {
          property: 'og:site_name',
          content: 'High Mountain Sage'
        },
        {
          property: 'article:published_time',
          content: this.$page.blog.publish_iso
        },
        {
          property: 'article:author',
          content: this.$page.blog.author.name
        }
      ],
      title: this.$page.blog.title
    }
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView(this.$page.blog.title.toLowerCase(), this.$route.path)
    }
  }
}
</script>

<style>

</style>
