<template>
  <Layout>
    <div class="hero pb-4 px-2 pt-8 md:p-16">
      <h1 class="font-display leading-none lg:leading-normal mb-4 lg:mb-0 text-5xl md:text-6xl text-center text-gray-800 tracking-wide uppercase">
        {{ $page.category.name }}
      </h1>
      <div
        class="bg-gray-100 border-yellow-400 border-b-2 border-t-2 max-w-2xl lg:max-w-3xl mx-auto p-2 md:p-4 lg:px-8 text-center text-gray-800 lg:text-lg"
        v-html="$page.category.content"
      />
    </div>
    <ul
      v-if="$page.category.products.edges.length > 0"
      class="flex flex-col md:flex-row flex-wrap mt-10 md:-mx-2 md:justify-between"
    >
      <ProductCard
        v-for="product in sortedBySeries($page.category.products.edges)"
        :key="product.node.id"
        :product="product.node"
      />
    </ul>
    <p
      v-else
      class="mt-10 text-gray-700"
    >
      Products coming soon...
    </p>
    <TestimonialCategory
      v-if="$page.category.testimonial"
      :testimonial="$page.category.testimonial"
    />
  </Layout>
</template>

<page-query>
query ($path: String!) {
  category (path: $path) {
    id
    content
    name
    path
    slug
    testimonial {
      content
      location
      name
      photo
      placeholder
    }

    products: belongsTo (sortBy: "item_number") {
      edges {
        node {
          ... on Product {
            id
            name
            category {
              slug
            }
            item_number
            path
            price
            product_image {
              alt_text
              photo
              placeholder
            }
            public
            scent_profile {
              name
            }
            scent_notes {
              notes
            }
            series {
              order
            }
            size {
              name
            }
            slug
            status {
              id
              name
            }
            weight
          }
        }
      }
    }
  }
}
</page-query>

<script>
import ProductCard from '@/components/ProductCard'
import TestimonialCategory from '@/components/TestimonialCategory'

export default {
  components: {
    ProductCard,
    TestimonialCategory
  },
  computed: {
    metaDescription: function () {
      const regex = /(<([^>]+)>)/ig
      return this.$page.category.content.replace(regex, '').substring(0, 147) + '...'
    }
  },
  metaInfo () {
    return {
      meta: [
        {
          name: 'description',
          content: this.metaDescription
        }
      ],
      title: this.$page.category.name
    }
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView(this.$page.category.name.toLowerCase(), this.$route.path)
    }
  },
  methods: {
    sortedBySeries: function (products) {
      return products.slice().sort(function (a, b) {
        return a.node.series.order - b.node.series.order
      })
    }
  }
}
</script>
