<template>
  <Layout>
    <div class="hero p-2 md:p-16">
      <h1 class="font-display text-4xl md:text-5xl text-center text-gray-800 uppercase">
        {{ $page.tip.title }}
      </h1>
    </div>
    <div class="max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mt-10 mx-auto">
      <div
        class="text-gray-800"
        v-html="$page.tip.content"
      />
      <p
        v-if="$page.tip.updated_date !== '11-30-1899'"
        class="mt-6 text-gray-700 text-sm"
      >
        {{ $page.tip.updated_date }}
      </p>
      <p
        v-else
        class="mt-6 text-gray-700 text-sm"
      >
        {{ $page.tip.publish_date }}
      </p>
    </div>
  </Layout>
</template>

<page-query>
query($path: String!) {
  tip: tipsTricks(path: $path) {
    content
    excerpt
    publish_date (format: "MM-DD-YYYY")
    title
    updated_date (format: "MM-DD-YYYY")
  }
}
</page-query>

<script>
export default {
  metaInfo () {
    return {
      meta: [
        {
          name: 'description',
          content: this.$page.tip.excerpt
        }
      ],
      title: this.$page.tip.title
    }
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView(this.$page.tip.title.toLowerCase(), this.$route.path)
    }
  }
}
</script>

<style>

</style>
