<template>
  <Layout>
    <div class="hero p-2 md:p-16">
      <h1 class="font-display text-5xl md:text-6xl text-center text-gray-800 tracking-wide uppercase">
        Blog
      </h1>
    </div>
    <ul>
      <li
        v-for="blog in getPublishedBlog()"
        :key="blog.node.title"
        class="max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto"
      >
        <div class="border-b border-gray-300 md:mb-4 mt-10">
          <g-link :to="blog.node.path">
            <h2 class="font-display text-center md:text-left text-gray-900 text-2xl uppercase">
              {{ blog.node.title }}
            </h2>
          </g-link>
          <p class="text-gray-700">
            {{ blog.node.author.name }}
          </p>
          <p
            v-if="blog.node.updated_date !== blog.node.publish_date"
            class="text-gray-700 text-sm"
          >
            {{ blog.node.updated_date }}
          </p>
          <p
            v-else
            class="text-gray-700 text-sm"
          >
            {{ blog.node.publish_date }}
          </p>
        </div>
        <p class="mt-4 text-gray-800">
          {{ blog.node.excerpt }}
          <g-link
            :to="blog.node.path"
            class="font-medium text-teal-700 hover:text-teal-800"
          >
            Read More
          </g-link>
        </p>
      </li>
    </ul>
  </Layout>
</template>

<page-query>
query {
  blogPosts: allBlog(sort: [{by: "updated_date"}, {by: "publish_date"}], order: DESC) {
    edges {
      node {
        author {
          name
        }
        excerpt
        path
        publish_date (format: "MM-DD-YYYY")
        slug
        title
        updated_date (format: "MM-DD-YYYY")
      }
    }
  }
}
</page-query>

<script>
import moment from 'moment'

export default {
  metaInfo: {
    title: 'Beard Blog'
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView('blog', this.$route.path)
    }
  },
  methods: {
    getPublishedBlog: function () {
      return this.$page.blogPosts.edges.filter(
        function (edge) {
          return moment(edge.node.publish_date, 'MM-DD-YYYY') <= moment()
        }
      )
    }
  }
}
</script>

<style>

</style>
