<template>
  <Layout>
    <div class="hero p-2 md:p-16">
      <h1 class="font-display text-5xl md:text-6xl text-center text-gray-800 tracking-wide uppercase">
        Contact
      </h1>
    </div>
    <div class="max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mt-10 mx-auto">
      <form
        action="/contact/thank-you/"
        name="contact"
        method="POST"
        netlify-honeypot="bot-field"
        data-netlify="true"
        @submit.prevent="handleSubmit"
      >
        <input
          type="hidden"
          name="form-name"
          value="contact"
        >
        <input
          type="hidden"
          name="bot-field"
        >
        <div class="p-2 relative">
          <label
            for="name"
            class="absolute bg-gray-100 ml-4 px-2 text-lg text-gray-800 top-0"
          >
            Name
          </label>
          <input
            id="name"
            v-model="formData.name"
            type="text"
            name="name"
            class="bg-gray-100 border border-yellow-400 focus:border-yellow-500 mb-6 mt-2 px-4 sm:px-2 py-2 rounded-sm text-gray-800 w-full"
          >
        </div>
        <div class="p-2 relative">
          <label
            for="email"
            class="absolute bg-gray-100 ml-4 px-2 text-lg text-gray-800 top-0"
          >E-Mail</label>
          <input
            id="email"
            v-model="formData.email"
            type="email"
            name="email"
            class="bg-gray-100 border border-yellow-400 focus:border-yellow-500 mb-6 mt-2 px-4 sm:px-2 py-2 rounded-sm text-gray-800 w-full"
          >
        </div>
        <div class="p-2 relative">
          <label
            for="subject"
            class="absolute bg-gray-100 ml-4 px-2 text-lg text-gray-800 top-0"
          >Subject</label>
          <input
            id="subject"
            v-model="formData.subject"
            type="text"
            name="subject"
            class="bg-gray-100 border border-yellow-400 focus:border-yellow-500 mb-6 mt-2 px-4 sm:px-2 py-2 rounded-sm text-gray-800 w-full"
          >
        </div>
        <div class="p-2 relative">
          <label
            for="contact_message"
            class="absolute bg-gray-100 ml-4 px-2 text-lg text-gray-800 top-0"
          >Message</label>
          <textarea
            id="contact_message"
            v-model="formData.message"
            name="message"
            rows="10"
            class="bg-gray-100 border border-yellow-400 focus:border-yellow-500 mb-6 mt-2 px-4 sm:px-2 py-2 rounded-sm text-gray-800 w-full"
          />
        </div>
        <button
          type="submit"
          class="bg-teal-700 hover:bg-teal-800 block mx-auto px-4 py-2 rounded-sm text-yellow-100 w-40"
        >
          Send
        </button>
      </form>
    </div>
  </Layout>
</template>

<script>
export default {
  data () {
    return {
      formData: {}
    }
  },
  metaInfo: {
    title: 'Contact Our Team'
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView('contact', this.$route.path)
    }
  },
  methods: {
    encode (data) {
      return Object.keys(data)
        .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key]))
        .join('&')
    },
    handleSubmit (e) {
      fetch('/', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: this.encode({
          'form-name': e.target.getAttribute('name'),
          ...this.formData
        })
      })
        .then(() => this.$router.push('/contact/thank-you/'))
        .catch(error => alert(error))
    }
  }
}
</script>
