<template>
  <Layout>
    <div class="hero p-2 md:p-16">
      <h1 class="font-display text-5xl md:text-6xl text-center text-gray-800 tracking-wide uppercase">
        Contact
      </h1>
    </div>
    <div class="max-w-xs md:max-w-md lg:max-w-lg mt-10 mx-auto text-gray-800">
      <p class="mb-2 text-center text-xl">
        Thank you for reaching out!
      </p>
      <p class="text-center">
        We will get back to you in a couple of business days.
      </p>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    meta: [
      {
        name: 'robots',
        content: 'noindex, nofollow, none'
      }
    ],
    title: 'Contact'
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView('contact - thank you', this.$route.path)
    }
  }
}
</script>
