<template>
  <Layout>
    <div class="hero px-2 py-8 md:p-16 text-yellow-900">
      <CompanyLogo class="fill-current logo mx-auto" />
      <h1 class="font-display leading-none md:leading-normal text-5xl md:text-6xl text-center text-gray-800 tracking-wide uppercase">
        404
      </h1>
      <p class="text-center text-gray-700 md:text-xl">
        Looks like you took a wrong turn...
      </p>
    </div>
  </Layout>
</template>

<script>
import CompanyLogo from '@/components/CompanyLogo'

export default {
  components: {
    CompanyLogo
  },
  metaInfo: {
    meta: [
      {
        name: 'robots',
        content: 'noindex, nofollow, none'
      }
    ],
    title: '404'
  }
}
</script>

<style>

</style>
