<template>
  <Layout>
    <div class="hero p-2 md:p-16">
      <h1 class="font-display text-5xl md:text-6xl text-center text-gray-800 uppercase">
        About
      </h1>
    </div>
    <div class="max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mt-10 mx-auto">
      <h2 class="font-display mb-1 text-gray-800 text-2xl">
        MISSION
      </h2>
      <p class="text-gray-800">
        {{ $page.pages.mission }}
      </p>
      <h2 class="font-display mb-1 mt-6 text-gray-800 text-2xl">
        STORY
      </h2>
      <div
        class="text-gray-800"
        v-html="$page.pages.content"
      />
      <h2 class="font-display mb-1 mt-6 text-gray-800 text-2xl">
        TEAM
      </h2>
      <ul class="flex flex-col lg:flex-row xl:justify-between mt-4 -mx-2">
        <li
          v-for="_ in $page.pages.profiles"
          :key="_.profile.name"
          class="bg-gray-200 max-w-2xs mb-6 mx-auto lg:mx-2 rounded-sm"
        >
          <div class="relative z-0">
            <img
              :src="_.profile.profile_image.photo"
              :alt="_.profile.profile_image.alt_text"
              height="256"
              width="256"
            >
          </div>
          <div class="p-4">
            <h3 class="font-medium text-lg text-gray-900">
              {{ _.profile.name }}
            </h3>
            <h4 class="text-gray-800 text-lg">
              {{ _.profile.title }}
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </Layout>
</template>

<page-query>
query {
  pages (id: "about") {
    content
    mission
    path
    profiles {
      profile {
        id
        content
        name
        profile_image {
          alt_text
          photo
        }
        title
      }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo: {
    meta: [
      {
        name: 'description',
        content: 'High Mountain Sage debuted their first product in the fall of 2017 and continues to grow their product lines to meet the needs of beard enthusiasts.'
      }
    ],
    title: 'About The Company'
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView('about us', this.$route.path)
    }
  }
}
</script>
