<template>
  <Layout>
    <h1 class="sr-only">
      High Mountain Sage
    </h1>
    <div class="hero px-2 py-8 md:p-16 text-yellow-900">
      <CompanyLogo class="fill-current logo mx-auto" />
      <h2 class="font-display leading-none md:leading-normal text-5xl md:text-6xl text-center text-gray-800 tracking-wide uppercase">
        {{ $page.pages.tag_line }}
      </h2>
      <p class="text-center text-gray-700 md:text-xl">
        Quality beard care products with an intimate scent for yourself and those closest to you.
      </p>
      <g-link
        to="/products/"
        class="bg-teal-700 hover:bg-teal-800 block mt-4 mx-auto px-4 py-2 rounded-sm text-center text-gray-100 w-40"
      >
        Shop Now
      </g-link>
    </div>
    <ul class="flex flex-col mt-10">
      <li
        v-for="category in $page.pages.categories"
        :key="category.category.name"
        class="flex flex-col lg:flex-row mb-8"
      >
        <div class="mx-auto relative">
          <LazyImg
            :src="category.category_image.photo"
            :placeholder="category.category_image.placeholder"
            :alt="category.category_image.alt_text"
            class="h-auto rounded-t-sm md:rounded-l-sm w-full"
            height="384"
            width="384"
          />
          <div class="gradient-bottom lg:gradient-right" />
        </div>
        <div class="flex flex-col flex-grow items-center justify-center">
          <h3 class="font-display text-3xl text-gray-800 tracking-wide uppercase">
            {{ category.category.name }}
          </h3>
          <div
            class="max-w-sm md:max-w-md xl:max-w-lg mb-4 mt-1 text-center text-gray-800 text-lg"
            v-html="category.category.content"
          />
          <g-link
            :to="category.category.path"
            class="bg-teal-700 hover:bg-teal-800 px-4 py-2 rounded-sm text-center text-gray-100 w-40"
          >
            Shop {{ category.category.shortName }}
          </g-link>
        </div>
      </li>
    </ul>
    <div class="hero px-2 py-8 md:p-16">
      <ul class="flex flex-col lg:flex-row lg:items-end lg:-mx-4">
        <TestimonialFeature
          v-for="testimonial in $page.allTestimonial.edges"
          :key="testimonial.node.id"
          :testimonial="testimonial.node"
        />
      </ul>
    </div>
  </Layout>
</template>

<page-query>
query {
  pages (id: "home") {
    content
    tag_line

    categories {
      category {
        content
        name
        path
        shortName
      }
      category_image {
        alt_text
        photo
        placeholder
      }
    }
  }
  allTestimonial (filter: { featured: { eq: true }}, sortBy: "name", order: ASC) {
    edges {
      node {
        id
        content
        featured
        location
        name
        photo
        placeholder
      }
    }
  }
}
</page-query>

<script>
import CompanyLogo from '@/components/CompanyLogo'
import LazyImg from '@/components/LazyImg'
import TestimonialFeature from '@/components/TestimonialFeature'

export default {
  components: {
    CompanyLogo,
    LazyImg,
    TestimonialFeature
  },
  metaInfo: {
    meta: [
      {
        name: 'description',
        content: 'Quality beard care products with an intimate scent for yourself and those closest to you.'
      },
      {
        property: 'og:title',
        content: 'High Mountain Sage'
      },
      {
        property: 'og:type',
        content: 'website'
      },
      {
        property: 'og:image',
        content: 'https://res.cloudinary.com/high-mountain-sage/image/upload/v1638219726/opengraph_sm_wksjz9.png'
      },
      {
        property: 'og:url',
        content: 'https://highmountainsage.com/'
      },
      {
        property: 'og:description',
        content: 'Quality beard care products with an intimate scent for yourself and those closest to you.'
      }
    ],
    title: 'Be Subtle'
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView('home', this.$route.path)
    }
  }
}
</script>
