<template>
  <Layout>
    <h1 class="sr-only">
      High Mountain Sage
    </h1>
    <div class="hero px-2 py-8 md:p-16 text-yellow-900">
      <CompanyLogo class="fill-current logo mx-auto" />
    </div>
    <ul>
      <li>
        <g-link
          to="/balms/tattoo-cream/"
          class="bg-teal-700 hover:bg-teal-800 block mt-4 mx-auto px-4 py-2 rounded-sm text-center text-yellow-100 w-64"
        >
          Tattoo Cream
        </g-link>
      </li>
      <li>
        <g-link
          to="/beard-oils/"
          class="bg-gray-600 hover:bg-teal-800 block mt-4 mx-auto px-4 py-2 rounded-sm text-center text-yellow-100 w-64"
        >
          Beard Oils
        </g-link>
      </li>
      <li>
        <g-link
          to="/blog/7-deadly-sins-of-beard-care/"
          class="bg-gray-600 hover:bg-gray-700 block mt-4 mx-auto px-4 py-2 rounded-sm text-center text-gray-200 w-64"
        >
          7 Deadly Sins of Beard Care
        </g-link>
      </li>
      <li>
        <g-link
          to="/products/"
          class="bg-gray-600 hover:bg-gray-700 block mt-4 mx-auto px-4 py-2 rounded-sm text-center text-gray-200 w-64"
        >
          Products
        </g-link>
      </li>
      <li>
        <g-link
          to="/contact/"
          class="bg-gray-600 hover:bg-gray-700 block mt-4 mx-auto px-4 py-2 rounded-sm text-center text-gray-200 w-64"
        >
          Contact
        </g-link>
      </li>
    </ul>
  </Layout>
</template>

<script>
import CompanyLogo from '@/components/CompanyLogo'

export default {
  components: {
    CompanyLogo
  },
  metaInfo: {
    meta: [
      {
        name: 'robots',
        content: 'noindex, nofollow, none'
      }
    ],
    title: 'Link In Bio'
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView('link in bio', this.$route.path)
    }
  }
}
</script>

<style>

</style>
