<template>
  <Layout>
    <div class="hero p-2 md:p-16">
      <h1 class="font-display text-4xl md:text-5xl text-center text-gray-800 tracking-wide uppercase">
        Frequently Asked Questions
      </h1>
    </div>
    <ul>
      <li
        v-for="faq in $page.allFaq.edges"
        :key="faq.node.name"
        class="max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto"
      >
        <h2 class="font-display mb-2 mt-6 text-center md:text-left text-gray-900 text-2xl uppercase">
          {{ faq.node.question }}
        </h2>
        <div
          class="text-gray-800"
          v-html="faq.node.content"
        />
      </li>
    </ul>
  </Layout>
</template>

<page-query>
query {
  allFaq(sortBy: "name", order: ASC) {
    edges {
      node {
        content
        question
      }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'Frequently Answered Questions'
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView('faqs', this.$route.path)
    }
  }
}
</script>

<style>

</style>
