<template>
  <div>
    <p class="mb-2 text-center text-gray-900">
      <span :class="['font-medium', info.name.length >= 20 ? 'text-lg' : 'text-xl']">{{ info.name }}</span>
      <br>
      added to cart
    </p>
    <img
      :src="info.image"
      :alt="`Thumbnail of ${info.name}`"
      class="h-24 mx-auto rounded-sm w-24"
    >
  </div>
</template>

<script>
export default {
  name: 'AddNotification',
  props: {
    info: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>

<style>

</style>
