<template>
  <transition name="cart-notify">
    <div
      v-if="notification"
      class="absolute ani-height bg-gray-100 border-yellow-400 border-2 border-t-0 mt-12 rounded-b-sm shadow-xl w-64 z-20"
    >
      <div class="h-full pt-8 relative">
        <font-awesome-icon
          icon="times"
          class="absolute cursor-pointer mx-3 my-2 right-0 text-gray-600 hover:text-gray-900 top-0"
          @click="hideCartNotification"
        />
        <transition
          mode="out-in"
          name="message-notify"
          appear
        >
          <component
            :is="type"
            :key="info.name"
            :info="info"
          />
        </transition>
        <ShippingGauge />
      </div>
    </div>
  </transition>
</template>

<script>
import ShippingGauge from '@/components/ShippingGauge'
import { mapState } from 'vuex'

export default {
  name: 'CartNotification',
  components: {
    AddNotification: () => import('@/components/AddNotification'),
    PromoNotification: () => import('@/components/PromoNotification'),
    ShippingGauge
  },
  computed: mapState([
    'info', 'notification', 'type'
  ]),
  methods: {
    hideCartNotification: function () {
      this.$store.commit('hideNotification')
    }
  }
}
</script>

<style>
.ani-height {
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: animate-height;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1); /* easeInOutSine */
}

@keyframes animate-height {
  from {
    height: 0px;
  }

  to {
    height: 256px;
  }
}

.cart-notify-enter-active, .cart-notify-leave-active {
  transition: opacity 0.6s ease-in-out;
}

.cart-notify-enter, .cart-notify-leave-to,
.message-notify-enter, .message-notify-leave-to {
  opacity: 0;
}

.message-notify-enter-active {
  transition: opacity 0.5s ease-in 0.3s;
}

.message-notify-leave-active {
  transition: opacity 0.2s ease-out;
}
</style>
