<template>
  <img
    ref="image"
    :src="source"
  >
</template>

<script>
export default {
  name: 'LazyImg',
  props: {
    placeholder: {
      type: String,
      required: true
    },
    src: {
      type: String,
      required: true
    }
  },
  data: function () {
    return {
      source: this.placeholder
    }
  },
  mounted () {
    this.fetchOnDemand()
  },
  methods: {
    fetchOnDemand () {
      try {
        const observer = new IntersectionObserver(entries => {
          const image = entries[0]
          if (image.isIntersecting) {
            this.source = this.src
            observer.disconnect()
          }
        }, { threshold: 0.1 })
        observer.observe(this.$el)
      } catch (_) {
        console.warn('IntersectionObserver is not supported by this browser')
        this.source = this.src
      }
    }
  }
}
</script>

<style>

</style>
