<template>
  <div class="bg-gray-100 border-yellow-400 border-b-2 border-t-2 mb-8 p-8">
    <div class="mx-auto max-w-xl">
      <div class="mb-4">
        <h4 class="font-display leading-tight text-center text-gray-900 text-2xl uppercase">
          Subscribe to our mailing list
        </h4>
        <p class="text-center text-gray-800">
          Receive discounts, news about new products, and more.
        </p>
      </div>
      <transition
        name="fade"
        mode="out-in"
      >
        <div
          v-if="!verify"
          key="1"
        >
          <form @submit.prevent="handleSubmit">
            <p hidden>
              <label>
                Don't fill this out:
                <input
                  v-model="mailingData.bot"
                  name="doNotFillOut"
                >
              </label>
            </p>
            <div class="md:flex relative">
              <div class="flex-grow py-2">
                <label
                  for="email"
                  class="absolute bg-gray-100 ml-4 px-2 text-lg text-gray-800 top-0"
                >E-Mail</label>
                <input
                  id="email"
                  v-model="mailingData.email"
                  type="email"
                  name="email"
                  class="bg-gray-100 border focus:border-2 border-yellow-400 focus:border-yellow-500 mb-4 md:mb-0 mt-2 px-4 sm:px-2 py-2 rounded-sm text-gray-800 w-full"
                  :class="{ error: $v.mailingData.email.$error, valid: validClass($v.mailingData.email) }"
                  @blur="$v.mailingData.$touch()"
                >
              </div>
              <div class="md:p-2">
                <button
                  type="submit"
                  class="bg-teal-700 hover:bg-teal-800 block md:mt-2 mx-auto px-4 py-2 rounded-sm text-center text-gray-100 w-40"
                >
                  Sign Up
                </button>
              </div>
            </div>
          </form>
          <div v-if="$v.mailingData.$error">
            <p
              v-if="!$v.mailingData.email.email"
              class="text-center text-red-800 text-sm"
            >
              Please enter a valid e-mail address
            </p>
            <p
              v-else-if="!$v.mailingData.email.required"
              class="text-center text-red-800 text-sm"
            >
              An e-mail address is required
            </p>
          </div>
          <p
            v-if="error"
            class="text-center text-red-800 text-sm"
          >
            {{ error }}
          </p>
        </div>
        <div
          v-else-if="verified"
          key="2"
        >
          <p class="text-center text-gray-900 text-lg">
            Thank You!
          </p>
        </div>
        <div
          v-else
          key="3"
          class="text-center text-gray-800 text-lg"
        >
          <font-awesome-icon
            icon="spinner"
            class="animate-spin"
          />
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import email from 'vuelidate/lib/validators/email'
import required from 'vuelidate/lib/validators/required'

export default {
  name: 'MailingList',
  mixins: [validationMixin],
  data () {
    return {
      error: '',
      mailingData: {
        email: ''
      },
      url: process.env.GRIDSOME_MAILING,
      verified: false,
      verify: false
    }
  },
  methods: {
    async handleSubmit () {
      this.$v.mailingData.$touch()
      if (!this.$v.mailingData.$invalid) {
        this.verify = true
        try {
          const response = await fetch(this.url, {
            method: 'POST',
            body: JSON.stringify(this.mailingData)
          })
          if (!response.ok) {
            const err = await response.json()
            throw new Error(err.error)
          }
          this.verified = true
        } catch (error) {
          console.log(error)
          this.verify = false
          this.mailingData.email = ''
          this.$v.mailingData.$reset()
          this.error = error
        }
      }
    },
    validClass (field) {
      return !field.$invalid && field.$model
    }
  },
  validations: {
    mailingData: {
      email: {
        email,
        required
      }
    }
  }
}
</script>

<style>
.error {
  @apply border-red-700 !important;
}

.valid {
  @apply border-teal-700 !important;
}
</style>
