<template>
  <li>
    <a
      :href="link"
      class="inline-block p-0.5"
      @click.passive="toggleMenu"
    >
      <slot />
    </a>
  </li>
</template>

<script>
export default {
  name: 'MenuLink',
  props: {
    link: {
      type: String,
      required: true
    }
  },
  methods: {
    toggleMenu: function () {
      this.$store.commit('toggleMenu')
    }
  }
}
</script>
