<template>
  <transition name="menu">
    <div
      v-if="menu"
      class="absolute bg-gray-600 h-64 mt-12 overflow-hidden p-4 rounded-b-sm shadow-xl w-64 z-20"
    >
      <ul class="text-gray-200 text-xl">
        <menu-link link="/">
          Home
        </menu-link>
        <menu-link link="/products/">
          Products
        </menu-link>
        <menu-link link="/blog/">
          Blog
        </menu-link>
        <menu-link link="/tips-and-tricks/">
          Tips & Tricks
        </menu-link>
        <menu-link link="/faqs/">
          FAQs
        </menu-link>
        <menu-link link="/about/">
          About
        </menu-link>
        <menu-link link="/contact/">
          Contact
        </menu-link>
      </ul>
    </div>
  </transition>
</template>

<script>
import MenuLink from '@/components/MenuLink.vue'
import { mapState } from 'vuex'

export default {
  name: 'Menu',
  components: {
    MenuLink
  },
  computed: mapState([
    'menu'
  ])
}
</script>

<style>
@keyframes animate-height {
  from {
    @apply h-0;
  }

  to {
    @apply h-64;
  }
}

.menu-enter-active, .menu-leave-active {
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: animate-height;
  animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  transition: opacity 0.6s cubic-bezier(0.37, 0, 0.63, 1); /* easeInOutSine */
}

.menu-leave-active {
  animation-direction: reverse;
}

.menu-enter, .menu-leave-to {
  opacity: 0;
}
</style>
