<template>
  <li class="bg-gray-200 max-w-sm md:max-w-xs lg:max-w-sm xl:max-w-md lg:min-w-sm mb-6 mx-auto md:mx-2 rounded-sm">
    <div
      class="relative z-0"
      @mouseenter="toggleCard"
      @mouseleave="toggleNotes"
    >
      <g-link
        :to="path"
      >
        <LazyImg
          :src="product.product_image.photo"
          :placeholder="product.product_image.placeholder"
          :alt="product.product_image.alt_text"
          class="h-auto w-full"
          height="384"
          width="384"
        />
        <transition
          name="height"
          @after-enter="toggleNotes"
        >
          <div
            v-if="toggleFirst"
            class="notes"
          >
            <transition
              name="opacity"
              @after-leave="toggleCard"
            >
              <ul
                v-if="toggleSecond"
                class="text-right uppercase"
              >
                <li
                  v-for="note in product.scent_notes.notes"
                  :key="note"
                  class="mb-2"
                >
                  {{ note }}
                </li>
              </ul>
            </transition>
          </div>
        </transition>
      </g-link>
      <ProfileTag
        :scent-profile="product.scent_profile"
      />
    </div>
    <div class="p-4 lg:px-8">
      <div class="flex items-baseline justify-between">
        <h3 :class="['font-medium', 'text-2xl', product.name.length >= 20 ? 'lg:text-2xl' : 'lg:text-3xl', 'text-gray-900']">
          {{ product.name }}
        </h3>
        <p class="text-gray-800 text-xl">
          ${{ product.price }}
        </p>
      </div>
      <span class="text-gray-600">{{ product.size.name }}</span>
    </div>
    <div class="flex justify-between pb-4 lg:pb-8 px-4 lg:px-8">
      <g-link
        class="hover:bg-gray-700 border border-gray-700 hover:border-transparent px-4 py-2 rounded-sm text-center text-gray-700 hover:text-gray-200 w-5/6"
        :to="path"
      >
        View Details
      </g-link>
      <ProductBuy
        v-if="productStatus == '5484176a-e7b9-4b08-a293-ddd5860a6d78'"
        :product="product"
        class="w-1/6"
      />
      <div
        v-else-if="productStatus == 'e0e6b865-a4b0-4d19-94f7-13fc9083efd9'"
        class="bg-gray-500 border border-gray-500 cursor-not-allowed flex justify-center ml-4 p-2 rounded-sm text-center text-gray-200 w-1/6"
        title="Out of Stock"
      >
        <font-awesome-icon
          icon="exclamation"
          class="fa-lg fill-current"
        />
      </div>
      <div
        v-else-if="productStatus == 'b9a9682c-5480-49dc-82cc-4467a924748f'"
        class="bg-gray-500 border border-gray-500 cursor-not-allowed flex justify-center ml-4 p-2 rounded-sm text-center text-gray-200 w-1/6"
        title="Unavailable"
      >
        <font-awesome-icon
          icon="'times'"
          class="fa-lg fill-current"
        />
      </div>
    </div>
  </li>
</template>

<script>
import { mapGetters } from 'vuex'

import { nestedPath } from '@/utils'

import LazyImg from './LazyImg'
import ProductBuy from './ProductBuy'
import ProfileTag from './ProfileTag'

export default {
  name: 'ProductCard',
  components: {
    LazyImg,
    ProductBuy,
    ProfileTag
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      toggleFirst: false,
      toggleSecond: false
    }
  },
  computed: {
    ...mapGetters(['getProductInventory']),
    productStatus: function () {
      const inventory = this.getProductInventory(this.product.id)
      if (inventory > -1) {
        if (inventory > 0) {
          return '5484176a-e7b9-4b08-a293-ddd5860a6d78'
        } else {
          return 'e0e6b865-a4b0-4d19-94f7-13fc9083efd9'
        }
      }
      return this.product.status.id
    },
    path () {
      return nestedPath(this.product)
    }
  },
  methods: {
    toggleCard () {
      this.toggleFirst = !this.toggleFirst
    },
    toggleNotes () {
      this.toggleSecond = !this.toggleSecond
    }
  }
}
</script>

<style>
.notes {
  @apply absolute bg-gray-200 flex h-36 items-end justify-end left-0 px-2 rounded-b-sm text-gray-800 top-0 w-full z-10;
}

/* transitions */

.height-enter-active, .height-leave-active {
  transition: height 0.45s cubic-bezier(0.37, 0, 0.63, 1); /* easeInOutSine from https://easings.net */
}

.height-enter, .height-leave-to {
  @apply h-0;
}

.opacity-enter-active, .opacity-leave-active {
  transition: opacity 0.35s ease-in-out;
}

.opacity-enter, .opacity-leave-to {
  @apply opacity-0;
}
</style>
