<template>
  <button
    class="snipcart-add-item bg-teal-700 hover:bg-teal-800 justify-center ml-4 p-2 rounded-sm text-center text-gray-100"
    :data-item-id="product.id"
    :data-item-name="product.name"
    :data-item-image="product.product_image.photo"
    :data-item-price="product.price"
    :data-item-url="path"
    :data-item-weight="product.weight"
    title="Add to Cart"
  >
    <font-awesome-icon
      icon="cart-plus"
      class="fa-lg fill-current"
    />
  </button>
</template>

<script>
import { nestedPath } from '@/utils'

export default {
  name: 'ProductBuy',
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  computed: {
    path () {
      return nestedPath(this.product)
    }
  }
}
</script>
