<template>
  <div>
    <span
      v-if="scentProfile.name == 'Earthy'"
      class="bg-gray-400 tag"
    >
      {{ scentProfile.name }}
    </span>
    <span
      v-else-if="scentProfile.name == 'Fresh'"
      class="bg-teal-800 text-gray-100 tag"
    >
      {{ scentProfile.name }}
    </span>
    <span
      v-else-if="scentProfile.name == 'Woody'"
      class="bg-yellow-900 text-yellow-100 tag"
    >
      {{ scentProfile.name }}
    </span>
    <span
      v-else
      class="bg-gray-800 text-gray-100 tag"
    >
      {{ scentProfile.name }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'ProfileTag',
  props: {
    scentProfile: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>
.tag {
  @apply absolute font-medium h-16 left-0 ml-4 lg:ml-8 pt-10 px-2 rounded-b-sm shadow-2xl text-center text-xs -top-1 uppercase w-16 z-20;
}
</style>
