<template>
  <span
    class="cursor-pointer font-medium text-lg underline"
    @click="applyDiscount"
  >{{ code }}</span>
</template>

<script>
export default {
  name: 'PromoCode',
  props: {
    code: {
      type: String,
      required: true
    }
  },
  mounted: function () {
    document.addEventListener('snipcart.ready', () => {
      window.Snipcart.events.on('discount.applied', (discount) => {
        this.$store.commit('addPromo', discount)
      })
    })
  },
  methods: {
    applyDiscount: async function () {
      try {
        await window.Snipcart.api.cart.applyDiscount(this.code)
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style>

</style>
