<template>
  <div>
    <p class="mb-2 text-center text-gray-900">
      Promo Code:
      <br>
      <span class="font-medium text-xl">{{ info.name }}</span>
      <br>
      applied to cart
    </p>
  </div>
</template>

<script>
export default {
  name: 'PromoNotification',
  props: {
    info: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>

</style>
