<template>
  <li class="bg-gray-200 max-w-2xs mb-6 mx-auto lg:mx-4 rounded-sm">
    <div class="relative z-0">
      <g-link :to="path">
        <LazyImg
          :src="relatedProduct.product_image.photo"
          :placeholder="relatedProduct.product_image.placeholder"
          :alt="relatedProduct.product_image.alt_text"
          height="256"
          width="256"
        />
      </g-link>
      <span
        v-if="relatedProduct.scent_profile.name == 'Fresh'"
        class="absolute bg-teal-800 h-8 left-0 ml-2 lg:ml-8 px-2 rounded-b-sm shadow-lg text-xs -top-1 w-8"
      />
      <span
        v-else-if="relatedProduct.scent_profile.name == 'Woody'"
        class="absolute bg-yellow-900 h-8 left-0 ml-2 lg:ml-8 px-2 rounded-b-sm shadow-lg -top-1 w-8"
      />
      <span
        v-else
        class="absolute bg-gray-800 h-8 left-0 ml-2 lg:ml-8 px-2 rounded-b-sm shadow-lg -top-1 w-8"
      />
    </div>
    <div>
      <div class="flex items-baseline justify-between p-2">
        <h3 :class="['font-medium', relatedProduct.name.length >= 20 ?'text-base' : 'text-lg', 'text-gray-900']">
          {{ relatedProduct.name }}
        </h3>
        <p class="text-gray-800 text-lg">
          ${{ relatedProduct.price }}
        </p>
      </div>
      <div class="flex justify-between pb-4 px-2">
        <g-link
          :to="path"
          class="hover:bg-gray-700 border border-gray-700 hover:border-transparent px-4 py-2 rounded-sm text-center text-gray-700 hover:text-gray-200 w-3/4"
        >
          View Details
        </g-link>
        <ProductBuy
          v-if="productStatus == '5484176a-e7b9-4b08-a293-ddd5860a6d78'"
          :product="relatedProduct"
          class="w-1/4"
        />
        <div
          v-else-if="productStatus == 'e0e6b865-a4b0-4d19-94f7-13fc9083efd9'"
          class="bg-gray-500 border border-gray-500 cursor-not-allowed flex justify-center ml-4 p-2 rounded-sm text-center text-gray-200 w-1/4"
          title="Out of Stock"
        >
          <font-awesome-icon
            icon="exclamation"
            class="fa-lg fill-current"
          />
        </div>
        <div
          v-else-if="productStatus == 'b9a9682c-5480-49dc-82cc-4467a924748f'"
          class="bg-gray-500 border border-gray-500 cursor-not-allowed flex justify-center ml-4 p-2 rounded-sm text-center text-gray-200 w-1/4"
          title="Unavailable"
        >
          <font-awesome-icon
            icon="times"
            class="fa-lg fill-current"
          />
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import { mapGetters } from 'vuex'

import { nestedPath } from '@/utils'

import LazyImg from './LazyImg'
import ProductBuy from './ProductBuy'

export default {
  name: 'RelatedProduct',
  components: {
    LazyImg,
    ProductBuy
  },
  props: {
    relatedProduct: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters(['getProductInventory']),
    productStatus: function () {
      const inventory = this.getProductInventory(this.relatedProduct.id)
      if (inventory > -1) {
        if (inventory > 0) {
          return '5484176a-e7b9-4b08-a293-ddd5860a6d78'
        } else {
          return 'e0e6b865-a4b0-4d19-94f7-13fc9083efd9'
        }
      }
      return this.relatedProduct.status.id
    },
    path () {
      // return `/${this.relatedProduct.category.slug}/${this.relatedProduct.slug}/`
      return nestedPath(this.relatedProduct)
    }
  }
}
</script>
