<template>
  <div class="absolute bg-teal-700 bottom-0 p-2 w-full">
    <p
      v-if="subTotal < freeShippingLimit"
      class="mb-2 text-center text-yellow-200"
    >
      Free Shipping, <span class="font-medium text-yellow-100">${{ difference }}</span> away.
    </p>
    <p
      v-else
      class="mb-2 text-center text-yellow-200"
    >
      Free Shipping unlocked!
    </p>
    <div class="bg-gray-400 h-2 relative rounded-sm">
      <span
        class="absolute bg-gray-100 gauge h-2 rounded-sm"
        :style="`width: ${width}%;`"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShippingGauge',
  data () {
    return {
      freeShippingLimit: 50
    }
  },
  computed: {
    difference: function () {
      return (this.freeShippingLimit - this.subTotal).toFixed(2)
    },
    subTotal: function () {
      return this.$store.state.subTotal
    },
    width: function () {
      if (this.subTotal <= this.freeShippingLimit) {
        return (this.subTotal / this.freeShippingLimit) * 100
      } else {
        return 100
      }
    }
  }
}
</script>

<style>
.gauge {
    transition: width 0.6s cubic-bezier(0.37, 0, 0.63, 1) 0.2s; /* easeInOutSine */
}
</style>
