<template>
  <div>
    <script
      type="application/ld+json"
      v-html="jsonLD"
    />
  </div>
</template>

<script>
import { nestedPath } from '@/utils'

export default {
  name: 'StructuredProduct',
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  computed: {
    description () {
      const html = /(<([^>]+)>)/ig
      const escape = this.product.content.replace(html, '').trim()
      const newline = /(\s{2,})/g
      const line = escape.replace(newline, ' ')
      return line
    },
    mpn () {
      return `HMS-${this.product.sku}`
    },
    path () {
      return nestedPath(this.product)
    },
    jsonLD () {
      return JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'Product',
        name: this.product.name,
        brand: {
          '@type': 'Brand',
          name: 'High Mountain Sage'
        },
        description: this.description,
        image: this.product.product_image.photo,
        mpn: this.mpn,
        offers: {
          '@type': 'Offer',
          price: this.product.price,
          priceCurrency: 'USD',
          url: 'https://highmountainsage.com' + this.path
        },
        sku: this.product.sku
      })
    }
  }
}
</script>
