<template>
  <div>
    <script
      type="application/ld+json"
      v-html="jsonLD"
    />
  </div>
</template>

<script>
export default {
  name: 'StructuredBlog',
  props: {
    blog: {
      type: Object,
      required: true
    }
  },
  computed: {
    jsonLD () {
      return {
        '@context': 'https://schema.org',
        '@type': 'BlogPosting',
        headline: this.blog.title,
        datePublished: this.blog.publish_iso
      }
    }
  }
}
</script>

<style>

</style>
