<template>
  <div class="flex flex-col md:flex mt-6 mx-auto max-w-xl text-center">
    <div
      class="mb-6 text-gray-800 text-lg"
      v-html="testimonial.content"
    />
    <div class="leading-tight">
      <LazyImg
        :src="testimonial.photo"
        :placeholder="testimonial.placeholder"
        :alt="`A photo of ${testimonial.name}`"
        class="mb-2 mx-auto rounded"
        height="128"
        width="128"
      />
      <p class="text-gray-900 text-lg">
        {{ testimonial.name }}
      </p>
      <p class="text-gray-700 text-sm">
        {{ testimonial.location }}
      </p>
    </div>
  </div>
</template>

<script>
import LazyImg from './LazyImg'

export default {
  name: 'TestimonialCategory',
  components: {
    LazyImg
  },
  props: {
    testimonial: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>

</style>
