<template>
  <li class="bg-gray-100 border-yellow-400 border-b-2 border-t-2 flex flex-col md:flex-row lg:flex-col h-88 md:h-56 lg:h-96 xl:h-88 justify-end mb-8 last:mb-0 lg:mb-0 lg:mx-2 xl:mx-4 p-4 md:p-6 lg:p-2 xl:p-4 rounded-sm lg:w-1/3">
    <div class="items-center flex flex-grow mb-4 md:mb-0 lg:mb-6 text-center text-gray-800 md:w-2/3 lg:w-full">
      <div
        class="self-center"
        v-html="testimonial.content"
      />
    </div>
    <div class="flex flex-col items-center leading-tight md:w-1/3 lg:w-full">
      <LazyImg
        :src="testimonial.photo"
        :placeholder="testimonial.placeholder"
        :alt="'A photo of '+testimonial.name"
        class="mb-2 rounded"
        height="128"
        width="128"
      />
      <p class="text-gray-900 text-lg">
        {{ testimonial.name }}
      </p>
      <p class="text-gray-700 text-sm">
        {{ testimonial.location }}
      </p>
    </div>
  </li>
</template>

<script>
import LazyImg from './LazyImg'

export default {
  name: 'TestimonialFeature',
  components: {
    LazyImg
  },
  props: {
    testimonial: {
      type: Object,
      required: true
    }
  }
}
</script>
