<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="snipcart-templates">
    <featured-payment-methods>
      <div class="snipcart-featured-payment-methods">
          <h3 class="snipcart__font--secondary snipcart__font--bold  snipcart-featured-payment-methods__title">
              <a :href="securedByUrl" class="snipcart-featured-payment-methods__link" target="_blank">
                  <icon name="lock" class="snipcart-featured-payment-methods__title-icon"></icon>
                  {{ $localize('cart.secured_by') }}
              </a>
          </h3>
          <ul class="snipcart-featured-payment-methods__list">
              <li class="snipcart-featured-payment-methods__list-item"><icon name="card-visa" alt="Visa" class="h-12 w-auto"></icon></li>
              <li class="snipcart-featured-payment-methods__list-item"><icon name="card-mastercard" alt="Mastercard" class="h-12 w-auto"></icon></li>
              <li class="snipcart-featured-payment-methods__list-item"><icon name="card-amex" alt="American Express" class="h-12 w-auto"></icon></li>
              <li class="snipcart-featured-payment-methods__list-item"><icon name="card-discover" alt="Discover" class="h-12 w-auto"></icon></li>
              <li class="snipcart-featured-payment-methods__list-item"><icon name="card-paypal" alt="PayPal" class="h-12 w-auto"></icon></li>
          </ul>
      </div>
    </featured-payment-methods>
    <billing section="bottom">
      <fieldset class="snipcart-form__set">
          <div class="snipcart-form__field">
              <div class="snipcart-form__field-checkbox">
                  <snipcart-checkbox name="newsletter"></snipcart-checkbox>
                  <snipcart-label for="newsletter" class="snipcart__font--tiny snipcart-form__label--checkbox">
                      Subscribe to mailing list
                  </snipcart-label>
              </div>
          </div>
      </fieldset>
    </billing>
  </div>
</body>
</html>