<template>
  <Layout>
    <div class="hero p-2 md:p-16">
      <h1 class="font-display text-5xl md:text-6xl text-center text-gray-800 uppercase">
        Tips & Tricks
      </h1>
    </div>
    <ul>
      <li
        v-for="tip in getPublishedTips()"
        :key="tip.node.title"
        class="max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto"
      >
        <div class="border-b border-gray-300 md:mb-4 mt-10">
          <g-link :to="tip.node.path">
            <h2 class="font-display text-center md:text-left text-gray-900 text-2xl uppercase">
              {{ tip.node.title }}
            </h2>
          </g-link>
          <p
            v-if="tip.node.updated_date !== '11-30-1899'"
            class="text-gray-700 text-sm"
          >
            {{ tip.node.updated_date }}
          </p>
          <p
            v-else
            class="text-gray-700 text-sm"
          >
            {{ tip.node.publish_date }}
          </p>
        </div>
        <p class="mt-4 text-gray-800">
          {{ tip.node.excerpt }}
          <g-link
            :to="tip.node.path"
            class="font-medium text-teal-700 hover:text-teal-800"
          >
            Read More
          </g-link>
        </p>
      </li>
    </ul>
  </Layout>
</template>

<page-query>
query {
  tips: allTipsTricks(sort: [{by: "updated_date"}, {by: "publish_date"}], order: DESC) {
    edges {
      node {
        excerpt
        path
        publish_date (format: "MM-DD-YYYY")
        title
        updated_date (format: "MM-DD-YYYY")
      }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'Tips & Tricks'
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView('tips & tricks', this.$route.path)
    }
  },
  methods: {
    getPublishedTips: function () {
      return this.$page.tips.edges.filter(
        function (edge) {
          return edge.node.publish_date <= new Date().toISOString()
        }
      )
    }
  }
}
</script>

<style>

</style>
