<template>
  <Layout>
    <div class="hero pb-4 px-2 pt-8 md:p-16">
      <h1 class="font-display leading-tight md:mb-4 text-5xl md:text-6xl text-center text-gray-800 tracking-wide uppercase">
        Products
      </h1>
      <ul class="flex flex-wrap justify-center -mx-2">
        <li
          v-for="category in $page.categories.edges"
          :key="category.node.name"
          class="bg-gray-600 hover:bg-gray-700 font-medium m-2 rounded-sm text-center text-gray-200 text-sm w-32"
        >
          <a
            :href="'#' + category.node.slug"
            class="inline-block px-4 py-2 w-full"
          >{{ category.node.shortName }}</a>
        </li>
      </ul>
    </div>
    <ul>
      <li
        v-for="category in $page.categories.edges"
        :id="category.node.slug"
        :key="category.node.id"
      >
        <g-link
          :to="category.node.path"
          class="inline-block"
        >
          <h2 class="font-display leading-tight pt-8 md:pt-16 text-center md:text-left text-gray-800 text-2xl tracking-wide uppercase">
            {{ category.node.name }}
          </h2>
        </g-link>
        <div class="border-t border-yellow-400 w-full" />
        <div v-if="category.node.products.edges.length > 0">
          <ul class="flex flex-col md:flex-row mt-4 md:mt-6 md:-mx-2 md:justify-between">
            <ProductCard
              v-for="product in category.node.products.edges"
              :key="product.node.id"
              :product="product.node"
            />
          </ul>
          <div class="flex max-w-xs lg:max-w-sm mx-auto md:m-0 pb-4 px-4 md:px-8">
            <g-link
              :to="category.node.path"
              class="hover:bg-gray-700 border border-gray-700 hover:border-transparent px-4 py-2 rounded-sm text-center text-gray-700 hover:text-gray-100 text-sm w-full"
            >
              Explore all {{ category.node.name }}
            </g-link>
          </div>
        </div>
        <p
          v-else
          class="mt-4 md:mt-6 text-gray-700"
        >
          Products coming soon...
        </p>
      </li>
    </ul>
  </Layout>
</template>

<page-query>
query {
  categories: allCategory(sortBy: "order", order: ASC) {
    edges {
      node {
        name
        content
        order
        path
        shortName
        slug

        products: belongsTo(limit: 2, sortBy: "item_number") {
          edges {
            node {
              ... on Product {
                id
                name
                category {
                  slug
                }
                item_number
                price
                product_image {
                  alt_text
                  photo
                  placeholder
                }
                public
                scent_profile {
                  name
                }
                scent_notes {
                  notes
                }
                size {
                  name
                }
                slug
                status {
                  id
                  name
                }
                weight
              }
            }
          }
        }
      }
    }
  }
}
</page-query>

<script>
import ProductCard from '../../components/ProductCard'

export default {
  components: {
    ProductCard
  },
  metaInfo: {
    meta: [
      {
        name: 'description',
        content: 'High Mountain Sage handcrafts a variety of beard, hair, and skincare products using a combination of local and imported ingredients.'
      }
    ],
    title: 'Premium Beard Products'
  },
  mounted () {
    if (process.env.NODE_ENV === 'production') {
      this.$gtm.trackView('products', this.$route.path)
    }
  }
}
</script>
