<template>
  <MainLayout>
    <transition
      name="fade"
      mode="out-in"
    >
      <router-view :key="$route.path" />
    </transition>
    <div
      id="snipcart"
      hidden
      :data-api-key="snipcart"
      data-config-add-product-behavior="none"
      data-templates-url="/snipcart-templates.min.html"
    />
  </MainLayout>
</template>

<script>
import MainLayout from '~/layouts/Main.vue'

export default {
  components: {
    MainLayout
  },
  computed: {
    snipcart () {
      return process.env.GRIDSOME_SNIPCART
    }
  },
  created () {
    if (process.isClient && process.env.NODE_ENV === 'production') {
      window.dataLayer.push({
        originalLocation: document.location.protocol + '//' +
                          document.location.hostname +
                          document.location.pathname +
                          document.location.search
      })

      const snipcartInterval = setInterval(() => {
        if (window.Snipcart !== undefined) {
          clearInterval(snipcartInterval)
          console.log('snipcart')

          window.Snipcart.api.theme.customization.registerPaymentFormCustomization({
            input: {
              border: '1px solid #f8e3a3',
              placeholder: {
                color: '#313332'
              }
            },
            label: {
              color: '#313332'
            }
          })

          window.Snipcart.store.subscribe(() => {
            const snipStore = window.Snipcart.store.getState()
            if (this.$store.state.subTotal !== snipStore.cart.subtotal) {
              this.$store.commit('updateSubTotal', snipStore.cart.subtotal)
            }
          })

          window.Snipcart.events.on('snipcart.initialization.error', () => {
            console.log('Failed to initialize Snipcart')
          })

          window.Snipcart.events.on('cart.confirmed', (cartConfirmResponse) => {
            this.orderCompleted(cartConfirmResponse)
          })

          window.Snipcart.events.on('item.added', (item) => {
            this.itemAdded(item)
          })

          window.Snipcart.events.on('item.adding', (item) => {
            this.$store.commit('addToCart', item)
          })

          window.Snipcart.events.on('item.removed', (item) => {
            this.itemRemoved(item)
          })

          window.Snipcart.events.on('shipping.selected', (shippingMethod) => {
            this.checkoutStarted(2, 'Customer Selected Shipping Method')
          })

          window.Snipcart.events.on('summary.checkout_clicked', () => {
            this.$store.commit('hideNotification')
          })

          window.Snipcart.events.on('theme.routechanged', (routesChange) => {
            if (routesChange.from === '/cart' && routesChange.to === '/checkout') {
              this.checkoutStarted(1, 'Customer Started Checkout')
            }
          })
        }
      }, 100)
    }
  },
  methods: {
    createProductsFromItems: function (items) {
      return items.map(function (item) {
        return {
          id: item.id,
          name: item.name,
          price: item.price.toFixed(2),
          quantity: item.quantity
        }
      })
    },
    checkoutStarted: function (step, action) {
      if (process.env.NODE_ENV === 'production') {
        window.dataLayer.push({
          event: 'snipcartEvent',
          eventCategory: 'Checkout Update',
          eventAction: action,
          ecommerce: {
            checkout: {
              actionField: { step },
              products: this.createProductsFromItems(window.Snipcart.store.getState().cart.items.items)
            }
          }
        })
      } else {
        console.log('checkoutStarted')
      }
    },
    itemAdded: function (item) {
      if (process.env.NODE_ENV === 'production') {
        window.dataLayer.push({
          event: 'snipcartEvent',
          eventCategory: 'Cart Update',
          eventAction: 'New Item Added To Cart',
          eventLabel: item.name,
          eventValue: item.price,
          ecommerce: {
            currencyCode: 'USD',
            add: {
              products: this.createProductsFromItems([item])
            }
          }
        })
      } else {
        console.log('itemAdded')
      }
    },
    itemRemoved: function (item) {
      if (process.env.NODE_ENV === 'production') {
        window.dataLayer.push({
          event: 'snipcartEvent',
          eventCategory: 'Cart Update',
          eventAction: 'Item Removed From Cart',
          eventLabel: item.name,
          eventValue: item.price * -1,
          ecommerce: {
            currencyCode: 'USD',
            remove: {
              products: this.createProductsFromItems([item])
            }
          }
        })
      } else {
        console.log('itemRemoved')
      }
    },
    orderCompleted: function (order) {
      if (process.env.NODE_ENV === 'production') {
        window.dataLayer.push({
          event: 'snipcartEvent',
          eventCategory: 'Order Update',
          eventAction: 'New Order Completed',
          ecommerce: {
            currencyCode: order.currency,
            purchase: {
              actionField: {
                id: order.token,
                affiliation: 'Website',
                revenue: order.total.toFixed(2),
                shipping: order.shippingDetails.cost.toFixed(2),
                invoiceNumber: order.invoiceNumber
              },
              products: this.createProductsFromItems(order.items.items)
            }
          }
        })
      } else {
        console.log('orderCompleted')
      }
    }
  }
}
</script>

<style>
@font-face{
  font-family:"Modern Twenty W00";
  src:url("../src/assets/fonts/89b53acb-226d-4b04-a126-752491540034.eot?#iefix");
  src:url("../src/assets/fonts/89b53acb-226d-4b04-a126-752491540034.eot?#iefix") format("eot"),url("../src/assets/fonts/08d1cdf8-4025-4d88-8d13-0c2ddf0e3960.woff2") format("woff2"),url("../src/assets/fonts/53cc362f-9805-4cfd-893d-10c19aabc68e.woff") format("woff"),url("../src/assets/fonts/1cf0857f-fc0c-4462-bef4-e65e2ce09636.ttf") format("truetype");
  font-display: swap;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .6s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.snipcart {
  @apply font-body;
  @apply font-normal;
  @apply text-base;
}

/* purgecss start ignore */
.snipcart__actions--link {
  @apply text-teal-800;
}

.snipcart-billing-completed__header {
  @apply text-gray-900;
}

.snipcart__box {
  @apply bg-gray-100;
  @apply border-2;
  @apply border-solid;
  @apply border-yellow-400;
}

.snipcart__box--badge {
  @apply bg-yellow-400;
  @apply border-2;
  @apply border-gray-100;
  @apply rounded;
}

.snipcart__box--badge-highlight {
  background: none;
  @apply bg-teal-700;
  @apply border-gray-100;
  @apply text-gray-100;
}

.snipcart__button--icon {
  @apply border-none;
}

.snipcart-cart-button {
  background-image: none;
  @apply bg-teal-700;
  @apply rounded-sm;
  @apply text-gray-100;
}

.snipcart-cart-button:hover {
  @apply bg-teal-800;
}

.snipcart-cart__content {
  @apply bg-gray-100;
  @apply border-2;
  @apply border-solid;
  @apply border-yellow-400;
}

.snipcart-cart--edit,
.snipcart-cart--edit
.snipcart-cart__content,
.snipcart-cart--edit
.snipcart-cart__footer,
.snipcart-cart--edit
.snipcart-item-list {
  @apply bg-gray-100;
}

.snipcart-cart__footer {
  @apply px-6;
}

.snipcart-cart-header,
.snipcart-cart__secondary-header {
  @apply bg-gray-700 h-auto px-6 py-4 text-gray-100;
}

.snipcart-cart-header__option
.snipcart__icon--blue-dark,
.snipcart-modal__header-summary-title
.snipcart__icon--blue-dark,
.snipcart__icon--darker {
  @apply text-gray-100;
}

.snipcart-cart-header__icon path {
  @apply fill-current;
}

.snipcart-cart-header
.snipcart__font--black {
  @apply text-gray-100;
}

.snipcart-cart-summary {
  @apply bg-gray-100;
  @apply border-2;
  @apply border-solid;
  @apply border-yellow-400;
}

.snipcart-cart-summary__content {
  @apply bg-gray-100;
}

.snipcart-cart-summary-fees__discounts-icon,
.snipcart-cart-summary-fees__tax-notice,
.snipcart-checkout-step__icon,
.snipcart-discount-box__submit,
.snipcart__notice__icon {
  @apply text-teal-700;
}

.snipcart-cart-summary-fees__discounts-icon path,
.snipcart-cart-summary-fees__tax-notice path,
.snipcart__notice__icon path {
  @apply fill-current;
}

.snipcart-cart-summary__separator,
.snipcart-form__separator {
  @apply bg-yellow-400;
}

.snipcart-checkbox + label::before,
.snipcart-checkbox:checked + label::before,
.snipcart-form-radio + label::before {
  @apply bg-gray-50 border-yellow-400;
}

.snipcart-checkbox:hover + label::before,
.snipcart-checkbox:focus + label::before,
.snipcart-form-radio:hover + label::before {
  @apply border-yellow-500;
}

.snipcart-checkbox:checked + label::before,
.snipcart-form-radio:checked + label::before {
  background: none;
  @apply bg-teal-700;
  @apply shadow;
}

.snipcart-discount-box {
  @apply bg-gray-100;
}

.snipcart-discount-box__button {
  @apply bg-gray-100;
  @apply border-gray-700;
  @apply px-4;
  @apply py-2;
  @apply rounded-sm;
  @apply text-gray-700;
}

.snipcart-discount-box__button:hover {
  @apply bg-gray-700;
  @apply border-transparent;
  @apply text-gray-100;
}

.snipcart-discount-box__cancel {
  @apply bg-gray-100;
  @apply text-gray-700;
}

.snipcart-discount-box__form {
  @apply border;
  @apply border-teal-700;
  @apply bg-gray-100;
}

.snipcart-featured-payment-methods {
  @apply border-t-2;
  @apply border-yellow-400;
}

.snipcart-featured-payment-methods__link,
.snipcart-item-line__header >
.snipcart-item-line__title {
  @apply text-gray-900;
}

.snipcart-featured-payment-methods__list {
  @apply flex-wrap;
  @apply justify-center;
}

.snipcart-featured-payment-methods__title {
  @apply bg-gray-100;
}

.snipcart__font--black {
  @apply text-gray-900;
}

.snipcart__font--secondary,
.snipcart__font--subtitle {
  @apply font-body;
}

.snipcart-form {
  @apply bg-gray-100;
}

.snipcart-form__select,
.snipcart-input,
.snipcart-item-quantity__quantity {
  @apply bg-gray-50;
  @apply border;
  @apply border-yellow-400;
  @apply rounded-sm;
}

.snipcart-form__select:focus-within,
.snipcart-input:focus-within {
  @apply border-yellow-500;
  @apply shadow;
}

.snipcart__icon--blue-dark,
.snipcart__icon--dark {
  @apply text-teal-700;
}

.snipcart__icon--blue-dark path,
.snipcart__icon--dark path,
.snipcart__icon--darker path {
  @apply fill-current;
}

.snipcart__icon--blue-light {
  @apply text-teal-800;
}

.snipcart__icon--blue-light path {
  @apply fill-current;
}

.snipcart-item-line {
  @apply bg-gray-100;
  @apply shadow-none;
}

.snipcart-item-line--cart-edit {
  @apply border-yellow-400;
  @apply mx-0;
  @apply pb-0;
  @apply px-0;
}

.snipcart-item-line__container {
  @apply px-0;
}

.snipcart-layout__header {
  @apply h-auto;
  min-height: auto;
}

.snipcart-modal {
  @apply bg-gray-100;
  background-image: url("../src/assets/img/topography_brown.min.svg");
}

.snipcart-modal__close,
.snipcart-modal__close
.snipcart__icon--blue-light {
  @apply text-gray-100;
}

.snipcart-modal__close-icon path {
  @apply fill-current;
}

.snipcart-modal__container {
  @apply bg-gray-100 z-50;
}

.snipcart-payment-methods-list-item__button {
  @apply border-gray-500;
  @apply h-auto;
  @apply py-3;
  @apply rounded-sm;
}

.snipcart-payment-methods-list-item__button:hover {
  @apply bg-gray-700;
  @apply border-transparent;
  @apply text-gray-100;
}

.snipcart-payment-methods-list-item__button
.snipcart__icon--blue-dark {
  @apply text-gray-700;
}

.snipcart-payment-methods-list-item__button:hover
.snipcart__icon--blue-dark,
.snipcart-payment-methods-list-item__button:hover
.snipcart__payment-method-icon {
  @apply text-gray-100;
}

.snipcart-payment-methods-list-item__button:hover
.snipcart__payment-method-icon path {
  @apply fill-current;
}

.snipcart-shipping-rates-list-item {
  @apply bg-gray-100;
  @apply border;
  @apply border-yellow-400;
}

.snipcart-shipping-rates-list-item--highlight {
  @apply border;
  @apply border-yellow-500;
}

.snipcart-shipping-rates-list-item--highlight:focus-within {
  @apply border-yellow-500;
}

@media (min-width: 640px) {
  .snipcart-cart__footer,
  .snipcart-cart-header,
  .snipcart-item-line {
    @apply px-8;
  }

  .snipcart-item-line--cart-edit {
    @apply mx-8;
  }
}

@media (min-width: 1024px) {
  .snipcart-cart__footer-col {
    width: 45%;
  }

  .snipcart-cart__footer,
  .snipcart-cart-header,
  .snipcart-item-line {
    @apply px-24;
  }
}

@media (min-width: 1280px) {
  .snipcart-cart__footer,
  .snipcart-cart-header,
  .snipcart-item-line {
    @apply px-32;
  }
}
/* purgecss end ignore */
</style>
