<template>
  <div class="bg-gray-100 border-yellow-400 sm:border-l-2 sm:border-r-2 container min-h-screen mx-auto relative">
    <div class="bg-gray-700 flex justify-between min-w-full px-6 md:px-8 lg:px-24 xl:px-32 py-2 shadow-xl sticky top-0 z-30">
      <Menu />
      <div
        class="cursor-pointer py-2 text-gray-200"
        aria-label="Menu"
        role="button"
        tabindex="0"
        @click="toggleMenu"
        @keyup.enter="toggleMenu"
      >
        <transition
          name="menu-icon"
          mode="out-in"
        >
          <font-awesome-icon
            v-if="!menu"
            key="1"
            icon="bars"
            class="duration-300 ease-out fa-lg fill-current hover:scale-110 transition-transform transform"
            aria-label="Open Menu"
          />
          <font-awesome-icon
            v-else
            key="2"
            icon="times"
            class="duration-300 ease-out fa-lg fill-current hover:scale-110 transition-transform transform"
            aria-label="Close Menu"
          />
        </transition>
      </div>
      <div class="flex justify-end">
        <div class="cursor-pointer flex flex-col items-center py-2 snipcart-customer-signin text-gray-200">
          <font-awesome-icon
            icon="user"
            class="duration-300 ease-out fa-lg fill-current hover:scale-110 transition-transform transform"
          />
        </div>
        <div class="cursor-pointer duration-300 ease-out flex flex-col items-center ml-8 py-2 hover:scale-110 snipcart-checkout text-gray-200 transition-transform transform">
          <span
            class="absolute bg-red-700 font-medium -m-2 px-1 right-0 rounded-sm shadow-md snipcart-items-count text-red-100 text-xs z-10"
          />
          <font-awesome-icon
            icon="shopping-cart"
            class="fa-lg fill-current relative"
          />
        </div>
        <CartNotification />
      </div>
    </div>
    <div class="relative">
      <transition name="notify">
        <div
          v-if="notify"
          class="absolute md:static bg-teal-700 flex items-center justify-between px-2 md:px-4 py-2 md:py-4 shadow-lg md:text-center text-gray-100 w-full z-20"
        >
          <div class="flex-grow">
            <span class="font-medium">FREE SHIPPING</span> unlocked at $50
          </div>
          <font-awesome-icon
            icon="times"
            class="cursor-pointer"
            @click="hideNotification"
          />
        </div>
      </transition>
    </div>
    <slot />
    <footer class="mt-8 pb-2 px-6 md:px-8 lg:px-24 xl:px-32">
      <MailingList />
      <div class="flex flex-col md:flex-row md:justify-between">
        <nav>
          <h4 class="text-gray-900 text-2xl">
            Menu
          </h4>
          <ul class="text-gray-800 text-lg">
            <li>
              <g-link to="/">
                Home
              </g-link>
            </li>
            <li>
              <g-link to="/products/">
                Products
              </g-link>
            </li>
            <li>
              <g-link to="/blog/">
                Blog
              </g-link>
            </li>
            <li>
              <g-link to="/tips-and-tricks/">
                Tips & Tricks
              </g-link>
            </li>
            <li>
              <g-link to="/faqs/">
                FAQs
              </g-link>
            </li>
            <li>
              <g-link to="/about/">
                About
              </g-link>
            </li>
            <li>
              <g-link to="/contact/">
                Contact
              </g-link>
            </li>
          </ul>
        </nav>
        <div class="mt-8 md:mt-0">
          <h4 class="text-gray-900 text-2xl">
            Contact
          </h4>
          <address class="not-italic">
            <a
              href="mailto:admin@highmountainsage.com"
              class="font-medium text-teal-800 hover:text-teal-900 text-lg"
            >
              admin@highmountainsage.com
            </a>
            <p class="mb-8 text-gray-800 text-lg">
              Logan, Utah 84341
            </p>
          </address>
          <h5 class="text-gray-900 text-xl">
            Stay Informed
          </h5>
          <div class="flex -mx-2 md:-mx-4 text-teal-800">
            <a
              class="mx-2 md:mx-4 text-3xl"
              href="https://www.facebook.com/highmountainsage"
              title="Facebook"
            >
              <font-awesome-icon
                :icon="['fab', 'facebook-square']"
                class="hover:text-teal-900"
              />
            </a>
            <a
              class="mx-2 md:mx-4 text-3xl"
              href="https://www.instagram.com/highmountainsage/"
              title="Instagram"
            >
              <font-awesome-icon
                :icon="['fab', 'instagram']"
                class="hover:text-teal-900"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="mt-8 text-center text-gray-700 text-sm">
        <div class="flex justify-center">
          <a href="/terms/">Terms</a>
          <span class="mx-8">|</span>
          <a href="/privacy/">Privacy</a>
        </div>
        <p>&copy; High Mountain Sage - Beard & Hair CO.</p>
      </div>
    </footer>
    <client-only>
      <cookie-law
        button-text="Accept"
        theme="high"
      >
        <div
          slot="message"
          class="text-center md:text-left"
        >
          <p>Our site uses cookies 🍪.</p>
          <p>
            Learn more about our <a
              href="/privacy/"
              class="text-teal-700 hover:text-teal-800"
            >privacy policy</a>.
          </p>
        </div>
      </cookie-law>
    </client-only>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import CartNotification from '@/components/CartNotification'
import MailingList from '@/components/MailingList'
import Menu from '@/components/Menu'

export default {
  components: {
    CartNotification,
    CookieLaw: () => import('vue-cookie-law'),
    MailingList,
    Menu
  },
  data () {
    return {
      notify: true
    }
  },
  computed: mapState([
    'menu'
  ]),
  methods: {
    hideNotification: function () {
      this.notify = false
      return this.notify
    },
    toggleMenu: function () {
      this.$store.commit('toggleMenu')
    }
  }
}
</script>

<style>
/* purgecss start ignore */
.Cookie--high {
  @apply bg-gray-100;
  @apply border-yellow-400;
  @apply border-t;
  @apply px-4;
  @apply py-2;
  @apply text-gray-800;
}

.logo {
  width: 280px;
}

.menu-icon-enter-active, .menu-icon-leave-active {
  transition: opacity 0.33s cubic-bezier(0.37, 0, 0.63, 1);
}

.menu-icon-enter, .menu-icon-leave-to {
  opacity: 0;
}

@media (min-width: 640px) {
  .Cookie--high {
    @apply px-12;
    @apply py-4;
  }

  .logo {
    width: 320px;
  }
}

.Cookie--high .Cookie__button {
  @apply bg-teal-700;
  @apply font-medium;
  @apply m-0;
  @apply px-4;
  @apply py-2;
  @apply rounded-sm;
  @apply text-yellow-100;
}

.Cookie--high .Cookie__button:hover {
  @apply bg-teal-800;
}

.Cookie--high .Cookie__buttons {
  @apply m-0;
}

.Cookie--high .Cookie__content {
  @apply mt-0;
}

.notify-leave-active {
  transition: all 0.3s;
}

.notify-leave-to {
  height: 0px;
  opacity: 0;
  padding: 0px;
}
/* purgecss end ignore */
</style>
